@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

.animate-breathing {
  animation: breathing 2.5s ease-in-out infinite;
}
